:root {
    /* Colors variables */
    --dark-blue-400: #0a3871;
    --gray-300: #495057;
    --gray-500: #343a40;
    --light-blue-200: #f3f5fc;
    --light-blue-400: #d8dfe8;

    /* Variables */
    --padding-vertical-container: 2.4rem;
    --height-footer: 8rem;
  }

html {
    font-size: 0.625rem; /* Font-size: 10px */
}
  
body {  
    font-family: "Inter", sans-serif;
    background-color: var(--light-blue-200);
}

.container {
    width: 100vw;
    height: calc(100vh - var(--height-footer));
}

.content {
    height: 100%;
    padding: var(--padding-vertical-container) 1.6rem;
}

.main {
    height: calc(100% - (2 * var(--padding-vertical-container)));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.btn {
    width: 100%;
    padding: 2.4rem;
    border-radius: 2.4rem;
    border: 1px solid var(--dark-blue-400);
    font-size: 1.6rem;
    line-height: 1.936rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn-filled {
    padding-block: 4rem;
    background-color: var(--dark-blue-400);
    color: var(--light-blue-200);
}

.btn-outline {
    width: 29.3rem;
    background-color: transparent;
    color: var(--dark-blue-400);
}

.footer {
    height: var(--height-footer);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue-400);
    color: var(--light-blue-200);
    font-size: 1.2rem;
}