:root {
    --dark-blue-400: #0a3871;
    --gray-300: #495057;
    --gray-500: #343a40;
    --light-blue-200: #f3f5fc;
    --light-blue-400: #d8dfe8;
  }

html {
    font-size: 0.625rem; /* Font-size: 10px */
}
  
body {  
    font-family: "Inter", sans-serif;
    background-color: var(--light-blue-200);
}

.container {
    padding: 2.4rem 1.6rem;
}